html {
  font-size: 20px;
}
html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #000;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: 768px) {
    padding: 0 10px;
  }
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  transition: color 0.5s ease-in-out;

  @media screen and (min-width: 769px) {
    &:hover {
      color: $orange-color;
    }
  }
}

.img-responsive {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.title,
h2 {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.05rem;
  text-transform: uppercase;
  position: relative;
  display: flex;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
p {
  font-size: 0.8rem;
  @media screen and (max-width: 768px) {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}
h3 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
.title::before {
  content: "";
  position: relative;
  width: 38px;
  height: 25px;
  margin-right: 16px;
  background: url(../images/icon/leaf.svg) center no-repeat;
  background-size: contain;
  transform: translateY(25%);

  @media screen and (max-width: 768px) {
    width: 27px;
    height: 18px;
    margin-right: 14px;
  }
}

.btn {
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 0.85rem;
  background: $violet-color;
  border-radius: 6px;
  max-width: 280px;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  &.btn-orange {
    background-color: $orange-color;
  }

  @media screen and (max-width: 768px) {
    height: 48px;
    max-width: 260px;
  }

  &:hover {
    color: #fff;
    background-color: $violet-dark-color;
  }
  &.btn-orange:hover {
    color: #fff;
    background-color: $orange-dark-color;
  }
}
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
textarea {
  padding: 13px 20px;
  border: 1px solid #fff;
  margin-top: 24px;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  width: 100%;
  font-size: 0.8rem;

  @media screen and (max-width: 768px) {
    margin-top: 18px;
    font-size: 0.7rem;
    padding: 12px;
  }

  &.error {
    border: 1px solid $red-color;
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $orange-color;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $orange-color;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $orange-color;
}

.slick {
  &-dots {
    display: flex;
    position: absolute;
    bottom: 46px;
    left: calc(50% + 638px);
    transform: translateX(-100%);

    @media screen and (max-width: 1296px) {
      left: inherit;
      right: 10px;
      transform: none;
    }
    @media screen and (max-width: 768px) {
      right: 50%;
      transform: translateX(50%);
      bottom: 28px;
    }
    li {
      font-size: 0;
      cursor: pointer;
      padding: 5px;
    }
    .slick-active button {
      background: $violet-color;
    }
    button {
      border: none;
      height: 4px;
      width: 60px;
      border-radius: 4px;

      @media screen and (max-width: 768px) {
        height: 0;
        width: 0;
        opacity: 0;
        position: absolute;
        right: 200%;
      }
    }
  }
  &-arrow {
    font-size: 0;
    background: none;
    border: none;
    position: absolute;
    bottom: 75px;
    width: 20px;
    height: 16px;
    background: url(../images/icon/arrow.svg) center no-repeat;
    background-size: contain;
    transform: translateX(-100%);
    z-index: 50;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      bottom: 28px;
    }

    &:hover {
      background-image: url(../images/icon/arrowviolet.svg);
    }
  }
  &-next {
    left: calc(50% + 633px);
    transform: translateX(-100%) rotate(180deg);
    @media screen and (max-width: 1296px) {
      left: inherit;
      right: 15px;
      transform: rotate(180deg);
    }

    &:hover {
      transform: translateX(-100%);

      @media screen and (max-width: 1296px) {
        transform: none;
      }
    }
  }
  &-prev {
    left: calc(50% + 600px);

    @media screen and (max-width: 1296px) {
      left: inherit;
      right: 32px;
    }
    &:hover {
      transform: translateX(-100%) rotate(180deg);

      @media screen and (max-width: 1296px) {
        transform: translateX(-100%) rotate(180deg);
      }
    }
  }
  &-pagination {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2rem;
    position: absolute;
    bottom: 70px;
    left: calc(50% + 555px);
    transform: translateX(-100%);

    @media screen and (max-width: 1296px) {
      left: inherit;
      right: 93px;
      transform: none;
    }
    @media screen and (max-width: 768px) {
      left: 15px;
      right: inherit;
      font-size: 0.8rem;
      line-height: 1rem;
    }
    @media screen and (max-width: 500px) {
      bottom: 23px;
    }

    span {
      color: $orange-color;
    }
  }
}

.slick-slider.dark-mode {
  .slick-arrow {
    background-image: url(../images/icon/arrowblack.svg);

    &:hover {
      background-image: url(../images/icon/arrowviolet.svg);
    }
  }
  .slick-dots button {
    background-color: $dark-color;
  }
  .slick-active button {
    background-color: $violet-color;
  }
  .slick-pagination {
    color: $dark-color;
  }
}

.breadcrumb {
  margin: 27px 0 48px;
  font-size: 0.6rem;
  line-height: 0.75rem;
  display: flex;

  @media screen and (max-width: 768px) {
    font-size: 0.7rem;
    line-height: 0.85rem;
    overflow-x: auto;
    margin: 12px 0 30px;
  }

  li {
    position: relative;

    & > span {
      color: $orange-color;
    }
  }

  li:not(:first-child) {
    margin-left: 21px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -13px;
      width: 4px;
      height: 7px;
      transform: translateY(-50%);
      background: url(../images/icon/arrowleftblack2.svg) center no-repeat;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 21px 0;

  &__arrow {
    width: 24px;
    height: 24px;
    background: url(../images/icon/arrowblack.svg) center no-repeat;
    background-size: contain;
    cursor: pointer;

    &:hover {
      background-image: url(../images/icon/arrowviolet.svg);
    }
  }
  &__left {
    margin-right: 17px;
  }
  &__right {
    transform: rotate(180deg);
    margin-left: 17px;
  }

  &__item {
    padding: 7px;
    font-family: Montserrat;
    font-weight: 600;

    &.active {
      color: $orange-color;
    }
  }
}

.dropdown {
  width: 100%;
  display: inline-block;
  transition: all 0.5s ease;
  position: relative;
  text-align: left;
  padding: 13px 20px;
  border: 1px solid #fff;
  margin-top: 24px;
  border-radius: 4px;
}
.dropdown.error {
  border-color: $red-color;
}
.dropdown .select {
  cursor: pointer;
  display: block;
  color: #a1a8ae;
}
.dropdown .select .black {
  color: #000;
}
.dropdown .select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 13px;
  height: 7px;
  background: url(../images/icon/arrowdown.svg) center no-repeat;
  background-size: contain;
  transition: all 0.5s ease-in-out;
}
.dropdown.active .select::after {
  transform: translateY(-50%) rotate(180deg);
}
.dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204);
}
.dropdown:active {
  background-color: #f8f8f8;
}
.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}
.dropdown.active .select > i {
  transform: rotate(-90deg);
}
.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: calc(100% + 2px);
  left: -1px;
  margin-top: 1px;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 5px 10px rgb(65, 64, 64);
  border-radius: 0 0 2px 2px;
  overflow: hidden;
  display: none;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9;
  border: 1px solid #ccc;
  bottom: 0;
  transform: translateY(100%);
}
.dropdown .dropdown-menu li {
  padding: 13px 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.dropdown .dropdown-menu li + li {
  border-top: 1px solid #ccc;
}
.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}
.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}
.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}
